<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container">
    <div class="row main">
        <div class="col-md-6">
            <h2 class="title">个人资料</h2>
            <hr/>
            <div class="alert alert-success" th:if="${profileSuccess}">
                <span th:text="${profileSuccess}"></span>
            </div>
            <form method="post" th:action="@{/user/profile}">
                <input type="hidden" name="id" th:value="${user.userId}"/>

                <div class="form-group">
                    <label for="firstName">姓</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${user.firstName}" id="firstName"
                                   name="firstName" roleId="firstname" placeholder="请输入您的姓"
                                   required="required"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName" class="cols-sm-2 control-label">名</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${user.lastName}" id="lastName"
                                   name="lastName" roleId="lastName" placeholder="请输入您的名"
                                   required="required"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="phone" class="cols-sm-2 control-label">电话</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${user.phone}" id="phone" name="phone"
                                   roleId="phone" placeholder="请输入电话号码" required="required"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">邮箱</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa"
                                                                   aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${user.email}" id="email" name="email"
                                   roleId="email" placeholder="请输入邮箱地址" required="required"/>
                        </div>
                        <span class="bg-danger" th:if="${emailExists}">邮箱已存在</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">用户名</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${user.username}" id="username"
                                   name="username" roleId="username" placeholder="请输入用户名"
                                   required="required"/>
                        </div>
                        <span class="bg-danger" th:if="${usernameExists}">用户名已存在</span>
                    </div>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-block ">保存修改
                    </button>
                </div>

            </form>
        </div>
        <div class="col-md-6">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">账户信息</h1>
                    <hr/>
                </div>
                <table class="responstable">
                    <tr>
                        <th>主账户账号</th>
                        <th>储蓄账户账号</th>
                    </tr>

                    <tr>
                        <td data-th-text="${user.primaryAccount.accountNumber}">...</td>
                        <td data-th-text="${user.savingsAccount.accountNumber}">...</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row main">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="title">修改密码</h2>
            <hr/>
            
            <div class="alert alert-success" th:if="${passwordSuccess}">
                <span th:text="${passwordSuccess}"></span>
            </div>
            <div class="alert alert-danger" th:if="${passwordError}">
                <span th:text="${passwordError}"></span>
            </div>
            
            <form method="post" th:action="@{/user/updatePassword}">
                <div class="form-group">
                    <label for="newPassword">新密码</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" id="newPassword"
                                   name="newPassword" placeholder="请输入新密码（至少6位）"
                                   required="required"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">确认新密码</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" id="confirmPassword"
                                   name="confirmPassword" placeholder="请再次输入新密码"
                                   required="required"/>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-warning btn-block ">修改密码
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>