<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Online Banking System Test Suite" parallel="classes" thread-count="1">
    <listeners>
        <listener class-name="org.testng.reporters.TestHTMLReporter"/>
        <listener class-name="org.testng.reporters.SuiteHTMLReporter"/>
        <listener class-name="org.testng.reporters.EmailableReporter"/>
    </listeners>

    <test name="User Registration Tests" preserve-order="true">
        <classes>
            <class name="com.userfront.testcases.UserRegistrationTest"/>
        </classes>
    </test>

    <test name="User Login Tests" preserve-order="true">
        <classes>
            <class name="com.userfront.testcases.UserLoginTest"/>
        </classes>
    </test>

    <test name="Account Management Tests" preserve-order="true">
        <classes>
            <class name="com.userfront.testcases.AccountManagementTest"/>
        </classes>
    </test>

    <test name="Transfer Tests" preserve-order="true">
        <classes>
            <class name="com.userfront.testcases.TransferTest"/>
        </classes>
    </test>

    <test name="Appointment Tests" preserve-order="true">
        <classes>
            <class name="com.userfront.testcases.AppointmentTest"/>
        </classes>
    </test>

    <test name="Admin Tests" preserve-order="true">
        <classes>
            <class name="com.userfront.testcases.AdminTest"/>
        </classes>
    </test>

</suite>
